<%= minimal_form_for @summoner, remote: true do |f| %>
  <%= f.error_notification %>

<div class="row collapse">
  <div class="small-4 large-offset-2 columns">
    <%= f.input :name %>
  </div>
  <div class="small-3 columns">
    <%= f.input :server %>
  </div>
  <div class="small-1 columns end">
    <%= f.button :button do %>
      <i class="fi-magnifying-glass large"></i>
    <% end %>
  </div>
</div>
<% end %>
