<p id="notice"><%= notice %></p>
<%= link_to 'Back', dashboard_path %>
<br />
<br />
<% if @summoner %>
  <h1><%= @summoner.name.titleize %></h1>

  <p>Server -  <%= @summoner.server.upcase %></p>
  <p>Level -  <%= @summoner.level %></p>
  <p>Last season's rank - <%= @summoner.last_season.titleize %></p>
  <p>Lifetime IP - <%= @summoner.lifetime_ip %></p>
  <p>Honor:</p>
  <table class="text-center">
    <thead>
      <tr>
        <th>Friendly</th>
        <th>Helpful</th>
        <th>Teamwork</th>
        <th>Honorable Opponent</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @summoner.honor_friendly %></td>
        <td><%= @summoner.honor_helpful %></td>
        <td><%= @summoner.honor_teamwork %></td>
        <td><%= @summoner.honor_opponent %></td>
      </tr>
    </tbody>
  </table>

  <br />

  <%= minimal_form_for @game, remote: true, url: games_path(server: @summoner.server, name: @summoner.name) do |f| %>
    <%= f.error_notification %>

    <%= f.input :summoner_id, input_html: { value: @summoner.id }, as: :hidden %>

    <div class="form-actions">
      <%= f.button :button, 'Update Match History' %>
    </div>
  <% end %>
<% end %>

<h3>Match History</h3>
<div id="loading"></div>
<div id="match_history">
  <% if @games.empty? %>
    <p class="no_games">It's empty!</p>
  <% else %>
    <%= render @games %>
  <% end %>
</div>
