<p id="notice"><%= notice %></p>

<%= link_to 'Back', summoner_path(@summoner.server, @summoner.name) %>

<br />
<br />

<p>
  <strong>Summoner:</strong>
  <%= @game.summoner.name.titleize %>
</p>

<p>
  <strong>Game num:</strong>
  <%= @game.game_num %>
</p>

<p>
  <strong>Ip earned:</strong>
  <%= @game.ip_earned %>
</p>

<p>
  <strong>Ping:</strong>
  <%= @game.ping %>
</p>

<p>
  <strong>Time in queue:</strong>
  <%= @game.time_in_queue %>
</p>

<p>
  <strong>Champion:</strong>
  <%= @game.champion_id %>
</p>

<p>
  <strong>Queue type:</strong>
  <%= @game.queue_type %>
</p>

<p>
  <strong>Create date:</strong>
  <%= @game.create_date %>
</p>

<p>
  <strong>Spell one:</strong>
  <%= @game.spell_one %>
</p>

<p>
  <strong>Spell two:</strong>
  <%= @game.spell_two %>
</p>

<p>
  <strong>Team:</strong>
  <%= @game.team_id %>
</p>

<p>
  <strong>Neutral minions killed enemy jungle:</strong>
  <%= @game.neutral_minions_killed_enemy_jungle %>
</p>

<p>
  <strong>True damage dealt to champions:</strong>
  <%= @game.true_damage_dealt_to_champions %>
</p>

<p>
  <strong>Total heal:</strong>
  <%= @game.total_heal %>
</p>

<p>
  <strong>Ward placed:</strong>
  <%= @game.ward_placed %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @game.assists %>
</p>

<p>
  <strong>Total damage dealt to champions:</strong>
  <%= @game.total_damage_dealt_to_champions %>
</p>

<p>
  <strong>True damage taken:</strong>
  <%= @game.true_damage_taken %>
</p>

<p>
  <strong>Num deaths:</strong>
  <%= @game.num_deaths %>
</p>

<p>
  <strong>Largest killing spree:</strong>
  <%= @game.largest_killing_spree %>
</p>

<p>
  <strong>Magic damage dealt player:</strong>
  <%= @game.magic_damage_dealt_player %>
</p>

<p>
  <strong>True damage dealt player:</strong>
  <%= @game.true_damage_dealt_player %>
</p>

<p>
  <strong>Item four:</strong>
  <%= @game.item_four %>
</p>

<p>
  <strong>Physical damage dealt player:</strong>
  <%= @game.physical_damage_dealt_player %>
</p>

<p>
  <strong>Largest multi kill:</strong>
  <%= @game.largest_multi_kill %>
</p>

<p>
  <strong>Item two:</strong>
  <%= @game.item_two %>
</p>

<p>
  <strong>Neutral minions killed your jungle:</strong>
  <%= @game.neutral_minions_killed_your_jungle %>
</p>

<p>
  <strong>Physical damage taken:</strong>
  <%= @game.physical_damage_taken %>
</p>

<p>
  <strong>Total damage taken:</strong>
  <%= @game.total_damage_taken %>
</p>

<p>
  <strong>Minions killed:</strong>
  <%= @game.minions_killed %>
</p>

<p>
  <strong>Champions killed:</strong>
  <%= @game.champions_killed %>
</p>

<p>
  <strong>Item one:</strong>
  <%= @game.item_one %>
</p>

<p>
  <strong>Magic damage taken:</strong>
  <%= @game.magic_damage_taken %>
</p>

<p>
  <strong>Physical damage dealt to champions:</strong>
  <%= @game.physical_damage_dealt_to_champions %>
</p>

<p>
  <strong>Item five:</strong>
  <%= @game.item_five %>
</p>

<p>
  <strong>Gold earned:</strong>
  <%= @game.gold_earned %>
</p>

<p>
  <strong>Magic damage dealt to champions:</strong>
  <%= @game.magic_damage_dealt_to_champions %>
</p>

<p>
  <strong>Item six:</strong>
  <%= @game.item_six %>
</p>

<p>
  <strong>Total time spent dead:</strong>
  <%= @game.total_time_spent_dead %>
</p>

<p>
  <strong>Neutral minions killed:</strong>
  <%= @game.neutral_minions_killed %>
</p>

<p>
  <strong>Level:</strong>
  <%= @game.level %>
</p>

<p>
  <strong>Item zero:</strong>
  <%= @game.item_zero %>
</p>

<p>
  <strong>Total damage dealt:</strong>
  <%= @game.total_damage_dealt %>
</p>

<p>
  <strong>Sight wards bought in game:</strong>
  <%= @game.sight_wards_bought_in_game %>
</p>

<p>
  <strong>Total time crowd control dealt:</strong>
  <%= @game.total_time_crowd_control_dealt %>
</p>

<p>
  <strong>Win:</strong>
  <%= @game.win %>
</p>

<%#= link_to 'Edit', edit_game_path(@game) %>
