<p id="notice"><%= notice %></p>

<%= link_to 'Back', summoner_path(@summoner.server, @summoner.riot_id) %>

<br />
<br />

<%= image_tag("http://league-stats.s3.amazonaws.com/champions/#{get_champion_name @game.champion_id}_Square_0.png", height: '64', width: '64') %>
<% if @game.win? %>
  <span class="result win text-center">WIN</span>
<% else %>
  <span class="result loss text-center">LOSS</span>
<% end %>
<span class="queue_type"><%= @game.queue_type.titleize %></span>
<span class="kda">KDA: <%= @game.champions_killed %>/<%= @game.num_deaths %>/<%= @game.assists %></span>
<% if @game.team_id == 100 %>
  <span class="team">Team One</span>
<% elsif @game.team_id == 200 %>
  <span class="team">Team Two</span>
<% end %>

<br />
<br />

<p><%= @game.create_date.strftime("Created at %r on %m/%d/%Y") %></p>

<p>
  <span class="ip">Ip earned: <%= @game.ip_earned %></span>
  <span class="ping">Ping: <%= @game.ping %></span>
  <span class="time_in_queue">Time in queue: <%= @game.time_in_queue %></span>
</p>


<h3>Items</h3>
<p>
  <span class="first_item"><%= get_item_name @game.item_zero %></span>
  <span class="item"><%= get_item_name @game.item_one %></span>
  <span class="item"><%= get_item_name @game.item_two %></span>
  <span class="item"><%= get_item_name @game.item_three %></span>
  <span class="item"><%= get_item_name @game.item_four %></span>
  <span class="item"><%= get_item_name @game.item_five %></span>
  <span class="item"><%= get_item_name @game.item_six %></span>
</p>

<h4>Summoner Spells</h4>
<p>
  <span><%= get_summoner_spell_name @game.spell_one %></span>
  <span class="spell"><%= get_summoner_spell_name @game.spell_two %></span>
</p>

<p>
  <span class="level">Level: <%= @game.level %></span>
  <span class="gold_earned">Gold earned: <%= @game.gold_earned %></span>
  <span class="minions">Minions killed: <%= @game.minions_killed %></span>
</p>

<p>
  <span>Largest killing spree: <%= @game.largest_killing_spree %></span>
  <span class="multikill">Largest multikill: <%= @game.largest_multi_kill %></span>
</p>

<p>
  <span>Time spent dead: <%= @game.total_time_spent_dead %> secs</span>
  <span class="cc">Crowd control dealt: <%= @game.total_time_crowd_control_dealt %> secs</span>
</p>

<p>
  <span>Sight wards bought in game: <%= @game.sight_wards_bought_in_game %></span>
  <span class="wards">Wards placed: <%= @game.ward_placed %></span>
</p>

<table class="text-center">
  <thead>
    <tr>
      <th></th>
      <th>Damage Done</th>
      <th>to Champions</th>
      <th>Damage Taken</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Total damage</td>
      <td><%= @game.total_damage_dealt %></td>
      <td><%= @game.total_damage_dealt_to_champions %></td>
      <td><%= @game.total_damage_taken %></td>
    </tr>
    <tr>
      <td>True damage</td>
      <td><%= @game.true_damage_dealt_player %></td>
      <td><%= @game.true_damage_dealt_to_champions %></td>
      <td><%= @game.true_damage_taken %></td>
    </tr>
    <tr>
      <td>Magic damage</td>
      <td><%= @game.magic_damage_dealt_player %></td>
      <td><%= @game.magic_damage_dealt_to_champions %></td>
      <td><%= @game.magic_damage_taken %></td>
    </tr>
    <tr>
      <td>Physical damage</td>
      <td><%= @game.physical_damage_dealt_player %></td>
      <td><%= @game.physical_damage_dealt_to_champions %></td>
      <td><%= @game.physical_damage_taken %></td>
    </tr>
  </tbody>
</table>